    * {
        padding: 0;
        margin: 0;
        font-size: 1.6rem;
        color: white;
        box-sizing: border-box;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        background-color: black;
    }


    html {
        font-size: 62.5%;
        scroll-behavior: smooth;
    }


    .viewport {
        min-height: 100vh;
        padding-top: 8.5rem;
    }


    .menu-area {
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 0.2rem solid white;
    }


    .content {
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 3rem;
    }


    .menu {
        display: flex;
        justify-content: space-between;
        /*align-items: center;*/
        padding: 0.1rem;
        background: rgba(1, 1, 1, 1);
    }


    .home-menu {
        position: relative;
    }


    #Outline {
        height: 5rem;
        width: 5rem;
        padding: 0rem 0;
    }


    .menu ul {
        list-style: none;
        display: flex;
    }


    .menu ul a {
        display: block;
        padding: 1rem;
        padding-bottom: 2rem;
        text-decoration: none;
        color: white;
    }


    .menu ul a:hover {
        background-color: white;
        color: black;
        border-radius: 0.3rem;
    }


    a#go-to-home-menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


    .images {
        border: 0.3rem solid rgb(0, 0, 0);
        box-sizing: border-box;
        width: 100%;
        height: 33.75rem;
    }


    p {
        word-spacing: .2rem;
        padding: 1.5rem 0;
        line-height: 2.5rem;
        padding-right: 8rem;
    }


    .ludwig-img {
        width: 100%;
        height: 59.305555555555555555555555555554rem;
        border: 0.2rem solid rgba(255, 255, 255, 0.2);
    }


    .resizing {
        flex: 1 0 auto;
    }


    .flex {
        display: flex;
    }


    h1 {
        font-size: 3.5rem;
    }


    h2 {
        font-size: 2.6rem;
    }


    fieldset {
        border: none;
    }


    #first-name,
    #second-name {
        width: 58rem;
        margin-bottom: 3rem;
    }


    #email {
        width: 100%;
        margin-bottom: 3rem;
    }


    #message {
        width: 100%;
        height: 30rem;
    }


    input,
    textarea {
        color: black;
        border-radius: .7rem;
        border: 0.3rem solid rgb(0, 0, 0);
        box-sizing: border-box;
        padding: 1.5rem;
        outline: none;
    }


    input:focus,
    textarea:focus {
        outline: .2rem solid rgb(255, 255, 255);
    }


    textarea {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 3rem;
    }


    label {
        display: block;
        margin-bottom: 1rem;
    }


    legend {
        margin-bottom: 1.5rem;
    }


    button {
        width: 25%;
        padding: 1.5rem;
        box-sizing: border-box;
        border-radius: .7rem;
        color: black;
        background-color: white;
    }


    button:hover {
        color: white;
        background-color: black;
        border: 0.3rem solid white;
    }


    @media (max-width: 1150px) {

        .resizing,
        .cr {
            display: block;
        }


        p {
            word-spacing: .1rem;
            word-break: break-word;
            line-height: 2.7rem;
            padding-right: 0;
            font-size: 1.6rem;


        }


        .ludwig-img,
        .images {
            height: 100%;
            border: 0.2rem solid rgba(255, 255, 255, 0.2);


        }

        #first-name,
        #second-name {
            width: 100%;
        }
    }